.party-view-wrapper {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 20px;
}

.party-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  flex-wrap: wrap;
  width: 100%;
}

.party-cards-small-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 760px;
}

.party-not-empty-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.party-card-info-wrapper {
  display: flex;
  justify-self: flex-end;
  width: 0%;
  overflow: hidden;
  height: 100%;
  margin-top: -20px;
  border-bottom-left-radius: 5px;
}

.expand {
  animation-name: expand;
  animation-timing-function: cubic-bezier();
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.unexpand {
  animation-name: unexpand;
  animation-timing-function: cubic-bezier();
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.party-card-info-wrapper {
  background-color: grey;
}

.no-pokemon-wrapper {
  width: 66%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: larger;
}

@keyframes expand {
  0% {
    width: 0%;
  }
  100% {
    width: 33%;
  }
}

@keyframes unexpand {
  0% {
    width: 33%;
  }
  100% {
    width: 0%;
  }
}
