################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PokemonReact
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
